
<div class=" content">
  <div class="row">
    <div class=" col-md-12">
      <div class="card" >
        <div class="card-header">
          <div class="sec-title">
            <div class="title">İletişim</div>
             
            </div>

        </div>

        <section class="contact-page-sec">
          <div class="container">

            <div class="sec-title">
             
                <h3>BCM Makina Kimya İth. Ve İhr. San.Tic.Ltd.Şti.</h3>
              </div>

            <div class="row">

              <div class="col-md-4">


                <div class="contact-info">
                  <div class="contact-info-item">
                    <div class="contact-info-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="contact-info-text">
                      <h2>Adres</h2>
                      <span>Mahmut Yesari Sokak No:10</span>
                      <span>Koşuyolu / Kadıköy / İSTANBUL</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="contact-info">
                  <div class="contact-info-item">
                    <div class="contact-info-icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-info-text">
                      <h2>E-posta</h2>
                      <span>info@bcmkim.com</span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="contact-info">
                  <div class="contact-info-item">
                    <div class="contact-info-icon">
                      <i class="fas fa-phone"></i>
                    </div>
                    <div class="contact-info-text">
                      <h2>Telefon</h2>
                      <span>+90 216 545 62 94</span>

                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">

              <div class="col-md-12">
                <div class="contact-page-map">

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.628988078402!2d29.035314315045074!3d41.01149307930045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab8039e905561%3A0x6e8db146c7b33e8f!2zS2_Fn3V5b2x1LCBNYWhtdXQgWWVzYXJpIENkLiBObzoxMCwgMzQ3MTggS2FkxLFrw7Z5L8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1636022188999!5m2!1str!2str" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


                </div>
              </div>
            </div>
          </div>
        </section>



      </div>
    </div>
  </div>
</div>








