<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="sec-title">
            <div class="title">Hakkımızda</div>
          </div>
        </div>

        <section class="about-section">
          <div class="container">
            <div class="row clearfix">
              <!--Content Column-->
              <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                  <div class="sec-title">
                    <h2>Alüminyum Sektöründe<br />İnovasyon</h2>
                  </div>
                  <div class="text">
                    Uzun yıllar metal sanayinde ve araştırma laboratuvarlarında
                    çalışmış metalurji profesyonelleri tarafından kurulan BCM
                    Makina Kimya, alüminyum sanayi başta olmak üzere sektörün
                    ihtiyaçlarını teknolojik, bilimsel ve güncel yöntemler ile
                    karşılamaktadır.
                  </div>
                  <div class="email">
                    <p class="paragraph">
                      &#9679; Alüminyum ekstrüzyon sanayine ekstrüzyon kalıpları
                      ve ekipmanları,
                    </p>
                    <p class="paragraph">
                      &#9679; Alüminyum ergitme ve şekillendirme işlerinde süreç
                      danışmanlığı,
                    </p>
                    <p class="paragraph">
                      &#9679; AR&GE projelerinin oluşturulması, yönetilmesi ve
                      teknik destek sağlanması,
                    </p>
                    <p class="paragraph">
                      &#9679; Metalik malzemelerde mikroyapı ve hasar
                      analizlerinin gerçekleştirilmesi ve mekanik testler,
                    </p>
                    <p class="paragraph">
                      &#9679; Metal kesme süreçleri için mikro yağlama
                      sistemleri ve sarf malzemeleri <br /><br />konularında
                      hizmet verilmektedir.
                    </p>
                  </div>
                </div>
              </div>

              <!--Image Column-->
              <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div
                  class="inner-column"
                  data-wow-delay="0ms"
                  data-wow-duration="1500ms"
                >
                  <div class="image">
                    <img src="./assets/img/aliminium.jpg" />
                    <div class="overlay-box">
                      <div class="year-box">
                        <span class="number"
                          >BCM<br />
                          Makina Kimya</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
