<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="sec-title">
            <div class="title">Ürünler</div>
          </div>
        </div>
        <div *ngFor="let product of product">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  *ngIf="product.picture != 'string'"
                  src="{{ product.picture }}"
                  class="center"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  *ngIf="product.picture1 != 'string'"
                  src="{{ product.picture1 }}"
                  class="center"
                  alt="..."
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <table class="table table-sm">
          <thead>
            <tr>
              <th *ngFor="let menuItems of menuItem" scope="col">
                {{ menuItems }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productDetail of productDetails">
              <td *ngIf="productDetail.itemNumber != 'string'">
                {{ productDetail.itemNumber }}
              </td>
              <td *ngIf="productDetail.model != 'string'">
                {{ productDetail.model }}
              </td>
              <td *ngIf="productDetail.ean != 'string'">
                {{ productDetail.ean }}
              </td>
              <td *ngIf="productDetail.qD != 'string'">
                {{ productDetail.qD }}
              </td>
              <td *ngIf="productDetail.qdmax != 'string'">
                {{ productDetail.qdmax }}
              </td>
              <td *ngIf="productDetail.qd1 != 'string'">
                {{ productDetail.qd1 }}
              </td>
              <td *ngIf="productDetail.qd2 != 'string'">
                {{ productDetail.qd2 }}
              </td>
              <td *ngIf="productDetail.l != 'string'">{{ productDetail.l }}</td>
              <td *ngIf="productDetail.l1 != 'string'">
                {{ productDetail.l1 }}
              </td>
              <td *ngIf="productDetail.i1 != 'string'">
                {{ productDetail.i1 }}
              </td>
              <td *ngIf="productDetail.i2 != 'string'">
                {{ productDetail.i2 }}
              </td>
              <td *ngIf="productDetail.v != 'string'">{{ productDetail.v }}</td>
              <td *ngIf="productDetail.r != 'string'">{{ productDetail.r }}</td>
              <td *ngIf="productDetail.h1 != 'string'">
                {{ productDetail.h1 }}
              </td>
              <td *ngIf="productDetail.b != 'string'">{{ productDetail.b }}</td>
              <td *ngIf="productDetail.k != 'string'">{{ productDetail.k }}</td>
              <td *ngIf="productDetail.price != 'string'">
                {{ productDetail.price }}
              </td>
              <td>
                <button type="button" class="btn btn-success">
                  Sepete ekle
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
