
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class="card">

        <div class="sec-title">
          <div class="title">Hizmetlerimiz</div>
          </div>


          <div class="container">
            <h3 class="baslik">Ar-Ge Proje Danışmanlığı</h3>
            <p><img src="./assets/img/hizmet.jpg" alt="example image" class="floating-img" />
              <p class="hizmet-text">


              Metalurji sektöründe uzman kadromuz ile sektörün ihtiyacı olan her tür Ar-Ge Projelerinde, ürün ve süreç yenileme projelerinde, enerji verimliliği projelerinde müşterilerimize çözüm ortaklığı sunuyoruz.
<br><br>
              Devlet teşviklerinin (TÜBİTAK-TEYDEB, KOSGEB, Ekonomi Bakanlığı vb.) kullanılmasına yönelik faaliyetler, Proje hazırlama, teknik danışmanlığını yürütüme dahil tüm proje süreçlerinin takibini ve yürütülmesini üstleniyoruz.
<br><br>
              Ürün ve/veya süreç yenilemeye yönelik fikirlerinizin projelendirilmesi yada firma vizyonuna göre proje fikirlerinin geliştirilmesi aşamasından başlayarak ilerleyen sürece gerekli görülen durumlarda laboratuvar kurulumu ve teknik eğitimlerin verilmesi konularını da ekleyerek sürecin tamamını kapsayacak şekilde faaliyet gösteriyoruz.
<br><br>
              Devletin sunduğu teşvikler ile, %50 – %80 arasında yatırım ve personel desteği almak mümkün olabiliyor.

              Rekabetin ve malzeme kalitesinde beklentilerin yüksek olduğu metal imalat pazarında fark yaratmak ve maliyet düşürücü bu tür destekleri kullanmak önem arz ediyor.</p>
            </div>


          <div class="container1">
            <h3 class="baslik">Analiz Hizmetleri</h3>
            <p><img src="./assets/img/analiz.jpg" alt="example image" class="floating-img" />

              <p class="hizmet-text">

                Ürün ve üretim proseslerinin kalitelerinin yükseltilmesi amacıyla, kullanılan hammadde, yarı mamül ve nihai üründe belirli kimyasal, mekanik ve optik analizler ile prosesin kontrol altında tutulmasında önemli fayda vardır. Bu konuda yaptığımız işbirliği anlaşmaları çerçevesinde aşağıda listelenen analiz hizmetleri sunulmaktadır.
  <br><br>
  &#9679; Malzeme kalitesi ve spesifikasyon kontrolü (Spektrometre, yaş analiz vb)<br>
  &#9679; Malzeme Hasar Analizi<br>
  &#9679; Optik incelemeler<br>
  &#9679; Metalografik incelemeler<br>
  &#9679; Elektron mikroskobu analizleri<br>
</p>
            </div>



            <div class="wrapper">
              <div class="grid">
                  <div class="grid-item">
                      <figure>
                          <img src="./assets/img/semkırılma.jpg" alt="">
                          <figcaption>SEM Kırılma Analizi</figcaption>
                      </figure>
                  </div>

                  <div class="grid-item">
                      <figure>
                          <img src="./assets/img/celiktedovme.jpg" alt="">
                          <figcaption>Çelikte Dövme Hatası</figcaption>
                      </figure>
                  </div>
                  <div class="grid-item">
                      <figure>
                          <img src="./assets/img/aluminyumbiyet.jpg" alt="">
                          <figcaption>Alüminyum Biyet Tane Yapısı</figcaption>
                      </figure>
                  </div>
                  <div class="grid-item">
                      <figure>
                          <img src="./assets/img/kalıp.jpg" alt="">
                          <figcaption>Ekstrüzyon Kalıp Nitrasyon Analizi</figcaption>
                      </figure>
                  </div>
                  <div class="grid-item">
                      <figure>
                          <img src="./assets/img/ısılislem.jpg" alt="">
                          <figcaption>Çelikte Isıl İşlem Hatası</figcaption>
                      </figure>
                  </div>
                  <div class="grid-item">
                      <figure>
                          <img src="./assets/img/biyetkabuk.jpg" alt="">
                          <figcaption>Alüminyum Biyet Kabuk Analizi</figcaption>
                      </figure>
                  </div>



              </div>
          </div>



          <div class="container1">
            <h3 class="baslik">Teknik Eğitimler</h3>


              <p class="hizmet-text">

                Metalurjik süreçler ile ilgili olarak müşterilerimizin talep ettiği eğitimler, talebin içeriğine göre bir yada birkaç günlük programlar ile karşılanmaktadır. Eğitimler teorik olabileceği gibi müşterilerimizin kendi imalat alanlarında uygulamalı olarak da gerçekleştirilebilmektedir.
  <br><br>
  Temel eğitim konuları: <br><br>
  &#9679;Alüminyum ergitme ve sıvı metal kalitesinin arttırılması<br>
  &#9679; Alüminyum ekstrüzyon prosesi : Proses iyileştirme, Hatalar, Duruşlar ve Son ürün kalitesi<br>
  &#9679; Malzeme davranışları ve mikro yapılar<br>
  &#9679; Dökme demirler ve metalografik incelemeler<br>
  &#9679; Temel laboratuvar cihazları ve uygulamalı kullanımları<br>
  &#9679; Vakum metalurjisi ve ergitme prosesleri<br>
  &#9679; Elektrokimyasal süreçler (eloksal, elektroliz vb.)<br>
  &#9679; Metal geri kazanım prosesleri

</p>
            </div>





      </div>
    </div>
  </div>
</div>
